.fulll {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100vh;
}

.centered-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.team {
  width: 100%;
  /* padding-left: 4rem; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 100%;
  margin-bottom: 1rem;
}

.image-main{
  height: 50%;
  width: 50%;
}

.image-main img{
  width: 100%;
  height: 100%;
}
.leftb,.rightb{
  position: absolute;
  font-size: 3rem;
  width: 5%; 
  height: 50%; 
  padding: 0;
  display: flex;
  align-items: center;
  color: aliceblue;

}

.leftb {
  margin-left: 1rem;
  left: 1rem;

}

.rightb {
  right: 1rem;
  margin-right: 1rem;

}
.team{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team h2 {
  /* margin-top: 0; */
  /* width: 80%; */
  /* margin-left: 1rem; */
  width: 80%;
  text-align: center;
  color:burlywood;
  font-size: 1.2rem;
  align-items: center;
  /* line-height: 1.6rem; */
  letter-spacing: 0.07rem;
  text-transform: capitalize;
  width: 100%;
}

.team h3{
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 1.75rem;
  color: white;
  text-align: center;
}
img {
  display: block;
  margin: 0 auto;
  width: 60%;
  height: 100%;
  margin-bottom: 1rem;
  background-size: contain;
}

.voteb {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  /* margin-right: 15%; */
}

/* Media Queries for Responsive Layout */

@media (max-width: 768px) {
  /* .leftb,
  .rightb {
    position: static;
    transform: none;
    font-size: 1.5rem;
     margin: 0 1.5rem ;
    padding: 1rem;
  } */

  .team{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  /* .team h2 {
    font-size: 1rem;
    letter-spacing: 0.3rem;
  }

  .team h3{
    text-align: left;
    padding: 0;
    margin: 0 ;
    color:rgb(18, 172, 243);

  } */
  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }


  img {
    height: 50%;
    width: 80%;
    margin-bottom: 0.5rem;
  }

  .voteb {
    font-size: 1.5rem;
  }
}

.voted-warning{
  color: white;
}