.fulll {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 100vh;
}

.centered-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.team {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 100%;
  margin-bottom: 1rem;
}

.image-main{
  height: 60%;
  width: 50%;
}

.image-main img{
  width: 100%;
  height: 100%;
}
.leftb,
.rightb {
  position: absolute;
  font-size: 1.5rem;
  width: 3%; 
  height: 60%; 
  padding: 0;
  
}

.leftb {
  left: 1rem;
  /* top: 50%; */
  transform: translateY(-50%);
  margin-left: 1rem;
  background-color: aliceblue;
}

.rightb {
  right: 2rem;
  /* top: 50%; */
  transform: translateY(-50%);
  background-color: aliceblue;
}

h2 {
  margin-top: 0;
  color: aliceblue;
  font-size: 2rem;
  align-items: center;
}

img {
  display: block;
  margin: 0 auto;
  width: 60%;
  height: 100%;
  margin-bottom: 1rem;
  background-size: contain;
}

.voteb {
  margin-top: 10px;
  align-items: center;
  font-size: 2rem;
  margin-right: 15%;
}

/* Media Queries for Responsive Layout */

@media (max-width: 768px) {
  .leftb,
  .rightb {
    position: static;
    transform: none;
    font-size: 1.5rem;
     margin: 0 1.5rem ;
    padding: 1rem;
  }

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }


  img {
    height: 50%;
    width: 80%;
    margin-bottom: 0.5rem;
  }

  .voteb {
    font-size: 1.5rem;
  }
}
