.c-head
{
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 1rem;
    color: #dabcf8;
    padding-top: 6vh;
    margin-bottom: 1vh;
    
}
.flex1{
 height: 60vh;
}
#us{
    height: 500px;
    width: 500px;
    margin-right: 200px;
    margin-bottom: 150px;
}

#i-head{
    font-size: 2rem;
    letter-spacing: 1rem;
    margin-top: 5vh;
    margin-bottom: 4vh;
}

.flex1, .flex2, .flex5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flex4{
    margin-left: 30px;
}
.flex3, .flex4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-card{
    width: 25rem;
    height: 23rem;
   
}

.name{
    color: ivory;
    font-weight: 700;
    font-size: 2.3rem;
}
.deets{
    color: #b7b4b4;
    font-weight: 500;
    font-size: 1.5rem;
}
.deets-img{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .5vh;
}
.dev-name{
    font-size: 2rem;
    font-size: 500;
    color: ivory;
}
.dev-deets{
    color: #b7b4b4;
    font-weight: 300;
    font-size: 1.5rem;
}
.dev-card{
    margin: 5vh;
}
.dev-icons{
    margin: 1vh;
    height: 5vh;
    width: 5vh;

    }
    
#contactUs{
        
        background-size: cover;
        background-repeat: no-repeat;
    }

@media  screen and (max-width:56.25em) {
    #us{
        width: 0;
        height: 0;
    }
    .flex5{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .flex2{
        display: flex;
        flex-direction: column;
        margin-right: 160px;
        justify-content: flex-start;
    }
    .flex1{
        height: 800px;
    }
    .flex4{
        margin-right: 40px;
    }
}
