


.c-head
{
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: 1rem;
    color: #dabcf8;
    padding-top: 6vh;
    margin-bottom: 1vh;
    
}
.flex1{
 height: 60vh;
 margin-top: 100px;
}
#us{
    height: 500px;
    width: 500px;
    margin-right: 200px;
    margin-bottom: 150px;
}

#i-head{
    font-size: 2rem;
    letter-spacing: 1rem;
    margin-top: 5vh;
    margin-bottom: 4vh;
}

.flex1, .flex2, .flex5{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.flex4{
    margin-left: 30px;
}
.flex3, .flex4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-card{
    width: 28rem;
    height: 23rem;
   
}

.name{
    color: ivory;
    font-weight: 700;
    font-size: 2.3rem;
}
.deets{
    color: #b7b4b4;
    font-weight: 400;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}
.deets-img{
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5vh;
}
.dev-name{
    font-size: 2rem;
    font-size: 500;
    color: ivory;
}
.dev-deets{
    color: #b7b4b4;
    font-weight: 300;
    font-size: 1.5rem;
}
.deets span {
    margin-left: 0.5vh;
  }
.dev-card{
    margin: 5vh;
}
.dev-icons{
    margin: 1vh;
    height: 5vh;
    width: 5vh;

    }
    .deets:nth-child(3) {
        margin-top: 0.5rem;
      }
    
#contactUs{
        
        background-size: cover;
        background-repeat: no-repeat;
    }
    .name,
    .deets,
    .dev-name,
    .dev-deets {
      font-size: 2.5rem;
    }
    
    .deets-img {
      width: 2rem;
      height: 2rem;
      margin-right: 1vh;
    }
    
    .dev-card {
      margin: 7vh;
    }
.flex3{
    margin-right: 90px;
}    
@media  screen and (max-width:56.25em) {
    #us{
        width: 0;
        height: 0;
    }
    .flex5{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .flex2{
        display: flex;
        flex-direction: column;
        margin-right: 160px;
        justify-content: flex-start;
    }
    .flex1{
        height: 800px;
    }
    .flex4{
        margin-right: 120px;
    }
}
@media (min-width: 900px){
    .dev-deets {
        display: flex;
        justify-content: flex-start;
        align-items: center;

    }
}
