.events-page-wrapper{
    background-color: #0D051B !important;
    width: 100%;
    /* height: 100%; */
    /* padding: 0 3rem; */
    /* display: flex; */
}


.eve-btn-container{
    width: 100%;
    /* height: 80vh; */
}
.eve-sub-container{
    position: absolute;
    display: flex;
    grid-template-rows: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    padding-top: 0% !important;
    /* z-index: -1; */
    color: rgb(238, 243, 243);
    /* margin-top: 24vh;
    margin-left: 80vh;
    margin-right: 80vh; */
    font-size: 10rem;
    letter-spacing: 0.8rem;
    /* margin-bottom: auto; */
}


.eve-content-container{
    width: 100%;
    display:flex;
    justify-content: space-evenly;
    background-color: #0D051B !important;
    padding-top: 5rem ;
}

.eve-content-sub-container{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px 4px rgba(238, 226, 248, 0.5);
    
}

.eve-content-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(247, 249, 250);
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border: 0.1rem solid #ffff;
    border-radius: 0.8rem;
    padding: 3rem 3rem;
}
.eve-content-text-heading{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.eve-content-text-heading h2{
    font-size: 5.5rem;
    font-weight: 600;
    letter-spacing: 1rem;
    text-transform: uppercase;
    color: #c6e2ff;
    animation: neon .08s ease-in-out infinite alternate;
}

.eve-content-text-desc{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 2rem 0;
}
.eve-content-text-desc p{
    width: 100%;
    font-size: 2.2rem;
    letter-spacing: 0.15rem;
    line-height: 1.6;
    color: #ffffff;
}

.eve-extra-details{
    display: flex;
    flex-direction: column;
    width:100%;
    background-color: rgba(89, 212, 253, 0.4);
    border-radius: 0.8rem;

}
.eve-extra-details .eve-details-container{
    display: flex;
    padding: 1.3rem;

}
.event-details-icon{
    width: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.event-details-icon img{
    width: 100%;
}


.event-details-text-container{
    display: flex;
    align-items: center;
    padding-left: 2rem;
    width:87%;
}
.eve-details-desc-text {
    display: flex;
    align-items: center;

}
.eve-details-desc-text .event-label{

}

.eve-details-desc-text .event-label p{
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 0.15rem;

}
.event-page-rule-info{
    font-size: 2.2rem;
    padding-left: 1rem;
}




.eve-details-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* align-items: center; */
}

.eve-register-btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    padding: 3rem 0 ;
}

.eve-register-btn button{
    padding: 0.5rem;
    cursor: pointer;
    font-size: 2rem;
    width: 30%;

}


.eve-content-poster{
    width: 50%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}
.eve-content-poster-image{
    width: 80%;
    height: 100%;
    
  box-shadow: 2px 2px 10px 4px rgba(193, 148, 231, 0.5);

}

.eve-content-poster-image img{
    width: 100%;
    height: 100%;
}



@keyframes neon {
    from {
      text-shadow:
      0 0 6px rgba(202,228,225,0.92),
      0 0 30px rgba(202,228,225,0.34),
      0 0 12px rgba(30,132,242,0.52),
      0 0 21px rgba(30,132,242,0.92),
      0 0 34px rgba(30,132,242,0.78),
      0 0 54px rgba(30,132,242,0.92);
    }
    to {
      text-shadow:
      0 0 6px rgba(202,228,225,0.98),
      0 0 30px rgba(202,228,225,0.42),
      0 0 12px rgba(30,132,242,0.58),
      0 0 22px rgba(30,132,242,0.84),
      0 0 38px rgba(30,132,242,0.88),
      0 0 60px rgba(30,132,242,1);
    }
  }

  
  
  /* CSS */
  .event-button {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    /* font-family: "JetBrains Mono",monospace; */
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  .event-button:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .event-button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
    background-color: rgb(5, 5, 6);
    color: #8d9eb1;
  }
  
  .event-button:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }
   
  .event-brochure-msg{
    color: #c6e2ff;
    font-size: 2rem;
  }
.eve-template-content{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
}
.eve-temp-name{
    color: #FCFCFD;
    font-size: 2.5rem;
    margin: 4rem;
}

.eve-temp-icon{
    font-size: 5rem;
    display: flex;
    align-items: center;
}

.eve-temp-name a{
    font-size: 3rem;
    color: #ffff;
    /* color:blue; */
    /* text-decoration: none; */
}
.eve-temp-name a:hover{
    color: blue;
}
.eve-temp-name-subContainer{
    width: 20%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
  @media only screen and (max-width: 480px) and (min-width: 320px){
    .eve-content-container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .eve-content-poster{
        display: flex;
        justify-content: center;
        align-items: center;  
        height: 90vh;
        width: 80%;
        /* margin: 5rem; */
        }

        .eve-content-poster-image{
            height: 70%;
            width: 90%;
        }
    .eve-content-poster-image img{
        height: 100%;
        width: 100%;
    }
    .eve-content-sub-container{
        width: 80%;
        /* width: 100%; */
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .eve-content-text{
        width: 100%;
        /* height: 40vh; */
        height: 100%;
        /* height: 80vh; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: rgb(247, 249, 250);
        background-color: rgba(87, 84, 93, 0.4);
        box-sizing: border-box;
        border: 0.1rem solid #ffff;
        /* margin: 3rem; */
        padding: 0rem !important;

        border-radius: 0.8rem;
    }
    .eve-content-text-heading{
        width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    }
    .eve-content-text-heading h2{
        font-size: 4rem;
        font-weight: 600;
        letter-spacing: 0.8rem;
        text-transform: uppercase;
        color: #c6e2ff;
        animation: neon .08s ease-in-out infinite alternate;
    }
    
    .eve-content-text-desc{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        padding: 2rem 0;
    }
    .eve-content-text-desc p{
        width: 100%;
        font-size: 1.4rem;
        letter-spacing: 0.15rem;
        line-height: 1.6;
        color: #ffffff;
        padding-left: 1.5rem;
    }
    
    .eve-details-desc-text {
        
        display: flex;
        align-items: center;
    }
    .eve-details-desc-text .event-label{
        flex-basis: 30%;
    }
    .eve-details-desc-text .event-label p{
        font-size: 1.8rem;
        font-weight: 600;
        letter-spacing: 0.15rem;
    }
    .event-page-rule-info{
        font-size: 1.8rem;
        padding-left: 1rem;
    }
.eve-register-btn{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* height: 7vh; */
    font-size: 1rem;
    padding: 1rem 0;
    /* height: 8vh; */
    /* width: 100%; */

}

.eve-register-btn button{
    padding: 0.5rem 1rem !important;
    cursor: pointer;
    font-size: 1.3rem;
    margin: 1rem;
}
.eve-template-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.eve-temp-icon{
    font-size: 3rem;
    display: flex;
    align-items: center;
}

.eve-temp-name{
    /* width: 10%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.eve-temp-name a{
    font-size: 1rem;
    color: #ffff;
    /* margin : 2rem; */

    /* color:blue; */
    /* text-decoration: none; */
}
.eve-temp-name h2{
    font-size: 2rem;
}

}

@media only screen  and (max-device-width: 768px)and (min-device-width: 481px) {
    .eve-content-container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }

    .eve-content-poster{
        display: flex;
        justify-content: center;
        align-items: center;  
        /* height: 90vh; */
        height: 100%;
        width: 80%;

        margin: 5rem;
        }

        .eve-content-poster-image{
            height: 100%;
            width: 100%;
        }
    .eve-content-poster-image img{
        height: 100%;
        width: 100%;
    }

    .eve-content-sub-container{
        /* width: 80%; */
        width: 100% ;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .eve-content-text{
        width: 80%;
        height: 100%;
        /* height: 80vh; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: rgb(247, 249, 250);
        background-color: rgba(87, 84, 93, 0.4);
        box-sizing: border-box;
        border: 0.1rem solid #ffff;
        margin: 3rem;

        border-radius: 0.8rem;
    }

    .eve-content-text-heading{
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .eve-content-text-heading h2{
        font-size: 5rem;
        font-weight: 600;
        letter-spacing: 1rem;
        text-transform: uppercase;
        color: #c6e2ff;
        animation: neon .08s ease-in-out infinite alternate;
    }

    
    .eve-content-text-desc{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        padding: 2rem 0;
    }
    .eve-content-text-desc p{
        width: 100%;
        font-size: 1.5rem;
        letter-spacing: 0.15rem;
        line-height: 1.6;
        color: #ffffff;
    }
    

.eve-register-btn{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
    /* height: 10vh; */
    width: 100%;
    /* width: 100%; */

}

.eve-register-btn button{
    padding: 0.5rem !important;
    cursor: pointer;
    /* height: 9vh; */

}

.eve-template-content{
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 2rem; */
}
.eve-temp-icon{
    font-size: 3rem;
    display: flex;
    align-items: center;
}

.eve-temp-name{
    /* width: 10%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 3rem; */
}
.eve-temp-name a{
    font-size: 1rem;
    color: #ffff;
    padding: 2rem;
    /* margin : 2rem; */

    /* color:blue; */
    /* text-decoration: none; */
}
.eve-temp-name h2{
    font-size: 2rem;
}

}