.events-page-wrapper{
    background-color: #0D051B !important;
    width: 100%;
    /* height: 100%; */
    position: absolute;
    /* padding: 0 3rem; */
    /* display: flex; */
}


.eve-main-container{
    position: relative;
    /* display:fixed; */
    width: 100%;
    height: 80vh;
    /* height:70vh; */
    /* overflow: hidden; */

    display: flex;
    justify-content: center;
    align-items: center;
}

.eve-sub-container{
    position: absolute;
    display: flex;
    grid-template-rows: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    padding-top: 0% !important;
    /* z-index: -1; */
    color: rgb(238, 243, 243);
    /* margin-top: 24vh;
    margin-left: 80vh;
    margin-right: 80vh; */
    font-size: 10rem;
    letter-spacing: 0.8rem;
    /* margin-bottom: auto; */
}

.eve-title{
    position:relative;
    color: aliceblue;
    height: 20vh;
    font-size: 4rem;
    letter-spacing: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eve-content-container{
    width: 100%;
    height:80vh;
    display: flex;
    background-color: #0D051B !important;
    /* padding: 3rem 0; */
}

.eve-content-text{
    width: 50%;
    height: 100%;
    /* height: 80vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(247, 249, 250);

}

.eve-content-text-heading{
    width: 100%;
    height:25%;
    font-size: 5.5rem;
    font-weight: 600;
    letter-spacing: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eve-content-text-desc{
    width: 80%;
    height: 50%;
    font-size: 2.5rem;
    letter-spacing: 0.6rem;
    line-height: 4rem;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* padding: 0rem 3rem; */
    /* padding-left: 3rem; */
}

.eve-register-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 20%; */
}

.eve-register-btn button{
    padding: 1.5rem;
}

.eve-content-poster{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eve-content-poster-image{
    width: 70%;
    height: 100%;
}

.eve-content-poster-image img{
    width: 100%;
    height: 100%;
}