.events-page-wrapper{
    background-color: #0D051B !important;
    width: 100%;
    /* height: 100%; */
    /* padding: 0 3rem; */
    /* display: flex; */
}


.eve-btn-container{
    width: 100%;
    /* height: 80vh; */
}
.eve-sub-container{
    position: absolute;
    display: flex;
    grid-template-rows: repeat(3,1fr);
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    padding-top: 0% !important;
    /* z-index: -1; */
    color: rgb(238, 243, 243);
    /* margin-top: 24vh;
    margin-left: 80vh;
    margin-right: 80vh; */
    font-size: 10rem;
    letter-spacing: 0.8rem;
    /* margin-bottom: auto; */
}


.eve-content-container{
    width: 100%;
    display:flex;
    justify-content: space-evenly;
    background-color: #0D051B !important;
    padding-top: 5rem ;
}

.eve-content-sub-container{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px 4px rgba(238, 226, 248, 0.5);
    
}

.eve-content-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(247, 249, 250);
    background-color: rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border: 0.1rem solid #ffff;
    border-radius: 0.8rem;
    padding: 3rem 3rem;
}
.eve-content-text-heading{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.eve-content-text-heading h2{
    font-size: 5.5rem;
    font-weight: 600;
    letter-spacing: 1rem;
    text-transform: uppercase;
    color: #c6e2ff;
    animation: neon .08s ease-in-out infinite alternate;
}

.eve-content-text-desc{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 2rem 0;
}
.eve-content-text-desc p{
    width: 100%;
    font-size: 2.2rem;
    letter-spacing: 0.15rem;
    line-height: 1.6;
    color: #ffffff;
}

.eve-extra-details{
    display: flex;
    flex-direction: column;
    width:100%;

}
.eve-extra-details .eve-details-container{
    display: flex;
    padding: 1.3rem;

}
.event-details-icon{
    width: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.event-details-icon img{
    width: 100%;
}


.event-details-text-container{
    display: flex;
    align-items: center;
    padding-left: 2rem;
}
.eve-details-desc-text {
    display: flex;
    align-items: center;
}
.eve-details-desc-text .event-label p{
    font-size: 2.2rem;
    font-weight: 600;
    letter-spacing: 0.15rem;
}
.event-page-rule-info{
    font-size: 2.2rem;
    padding-left: 1rem;
}




.eve-details-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    /* align-items: center; */
}

.eve-register-btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    padding: 3rem 0 ;
}

.eve-register-btn button{
    padding: 0.5rem;
    cursor: pointer;
    font-size: 2rem;
    width: 30%;

}

/* Button resets and style */
.eve-register-btn button {
    margin: 15px auto;
    font-family: "Montserrat";
    font-size: 20px;
    color: #0e0e0e;
    cursor: pointer;
    border-radius: 100px;
    padding: 15px 20px;
    border: 0px solid #000;   
    }
  
  /* Initiate Auto-Pulse animations */
  button.pulse-button {
    animation: borderPulse 1000ms infinite ease-out, colorShift 10000ms infinite ease-in;
  }
  
  /* Initiate color change for pulse-on-hover */
  button.pulse-button-hover {
    animation: colorShift 10000ms infinite ease-in;
  }
  
  /* Continue animation and add shine on hover */
 .eve-register-btn button:hover,
 .eve-register-btn button:focus {
    animation: borderPulse 1000ms infinite ease-out, colorShift 10000ms infinite ease-in, hoverShine 200ms;
  }
  
  /* Declate color shifting animation */
  @keyframes colorShift {
    0%, 100% {
        background: #3f6fe1;
    }
    33% {
      /* background: #fb3e3e; */
      background: #2b4c98;

    }
    66%{
        background: #014dff;

      /* background: #0dcc00; */
    }
  }
  
  /* Declare border pulse animation */
  @keyframes borderPulse {
    0% {
      box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255,.4), 0px 0px 0px 0px rgba(255,255,255,1);
    }
    100% {
      box-shadow: inset 0px 0px 0px 3px rgba(117, 117, 255,.2), 0px 0px 0px 10px rgba(255,255,255,0);
    }
  }
  
  /* Declare shine on hover animation */
  @keyframes hoverShine {
    0%{
      background-image: linear-gradient(135deg, rgba(255,255,255,.4) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
    }
    50%{
      background-image: linear-gradient(135deg, rgba(255,255,255,0) 0%, rgba(255,255,255,.4) 50%, rgba(255,255,255,0) 100%);
    }
    100%{
      background-image: linear-gradient(135deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,.4) 100%);
    }
  }
.eve-content-poster{
    width: 50%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eve-content-poster-image{
    width: 80%;
    height: 100%;
    /* box-shadow: rgba(92, 113, 219, 0.6) 6px 2px 16px 0px, rgba(85, 98, 182, 0.6) -4px -1px 16px 0px; */
        /* box-shadow: rgba(253, 254, 255, 0.5) 6px 2px 16px 0px, rgba(253, 253, 255, 0.5) -4px -1px 16px 0px; */

  box-shadow: 2px 2px 10px 4px rgba(193, 148, 231, 0.5);
    /* box-shadow: 0.5rem 0.8rem 1rem 0.8rem hsla(245, 61%, 29%, 0.5); */
    /* box-shadow: 2px 10px 8px 2px hsla(225, 51%, 23%, 0.5); */
}

.eve-content-poster-image img{
    width: 100%;
    height: 100%;
}



@keyframes neon {
    from {
      text-shadow:
      0 0 6px rgba(202,228,225,0.92),
      0 0 30px rgba(202,228,225,0.34),
      0 0 12px rgba(30,132,242,0.52),
      0 0 21px rgba(30,132,242,0.92),
      0 0 34px rgba(30,132,242,0.78),
      0 0 54px rgba(30,132,242,0.92);
    }
    to {
      text-shadow:
      0 0 6px rgba(202,228,225,0.98),
      0 0 30px rgba(202,228,225,0.42),
      0 0 12px rgba(30,132,242,0.58),
      0 0 22px rgba(30,132,242,0.84),
      0 0 38px rgba(30,132,242,0.88),
      0 0 60px rgba(30,132,242,1);
    }
  }
