.main-page-wrapper{
    /* background-color: #0E071B; */
    background-color: #0D051B;
}

.home-hero-section{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    /* padding-left: 20px; */
    /* margin: 0 20px; */
    /* flex-direction: column; */
    /* grid-template-columns: repeat(1fr,2); */
}

.home-hero-heading-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.home-hero-image{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-hero-image img{
    width: 85%;
    height: 100%;
   
    /* width: 50rem;
    height: 50rem; */
}

.home-hero-title-sp{
    /* display: inline-flex; */
    display: block;
    font-size: 7rem;
    letter-spacing: 1.5rem;
    justify-content: space-evenly;
    color: #ffffff;
}
.home-hero-title-letters{
    font-size: 7rem;
    /* display: flex;                                    */
    /* width: 60%; */
}

.home-hero-title-Otherletters{
    font-size: 7rem;
    color: #ffffff;

}
.home-hero-title{
    display: flex;
    color: aliceblue;
    font-size: 9rem;
    letter-spacing: 1.5rem;
    /* width: 70%; */
    justify-content: space-between;
    
}
.hero-home-title-i{
    color: #0d3dff;
    text-shadow:
      /* 0 0 7px #1a1eff, */
      /* 0 0 10px #2c4ef8, */
      0 0 21px #002fff,
      0 0 42px rgb(37, 33, 245),
      0 0 82px rgb(20, 28, 253),
      0 0 92px rgb(35, 42, 249),
      0 0 102px rgb(49, 35, 252),
      0 0 151px rgb(21, 28, 250);
      /* padding-left: 2rem; */
}

.hero-home-title-e{
    color: #0d3dff;
    text-shadow:
    /* 0 0 7px #1a1eff, */
    /* 0 0 10px #2c4ef8, */
    0 0 21px #002fff,
    0 0 42px rgb(37, 33, 245),
    0 0 82px rgb(20, 28, 253),
    0 0 92px rgb(35, 42, 249),
    0 0 102px rgb(49, 35, 252),
    0 0 151px rgb(21, 28, 250);
}
.home-hero-subtitle{
    color: cornflowerblue;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    letter-spacing: 1rem;
    line-height: 6rem;
}

.home-hero-space{
    color: #0E071B;

}
.home-hero-Otherletters{
    color: #ffffff;
    font-size: 2rem;
}
.home-hero-letters{
    color: #4036ff;
    text-shadow:
      0 0 7px #1a1eff,
      0 0 10px #2c4ef8,
      0 0 21px #1d44f4,
      0 0 42px rgb(37, 33, 245),
      0 0 82px rgb(84, 37, 254),
      0 0 92px rgb(35, 42, 249),
      0 0 102px rgb(49, 35, 252),
      0 0 151px rgb(21, 28, 250);
}
.home-events-title{
    background-color: #0E071B;
    color: azure;
    font-size: 6rem;
    letter-spacing: 0.8rem;
    line-height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}
.home-event-cards{
    background-color: #0E071B;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));  */

    /* grid-row-gap:20px #4456; */
}
/* .header-icon-ieee img{
    width: 200%;
    height: 100%;
}

.header-icon-ieee {
    width: 100%;
    height: 80%;
    margin-top: 1rem;
} */

.hero-home-title-i {
    opacity: 0;
    animation: drop 1.3s linear forwards;
    color: #006aff;
}
.hero-home-title-e {
    opacity: 0;
    animation: drop 1.3s linear forwards;
    /* margin: 1rem auto; */

    /* animation: neon 5s ease  5s infinite; */
animation: name duration timing-function delay iteration-count direction fill-mode;
    color: #006aff;
}

.home-hero-subtitle{
    opacity: 0;
    animation: drop 1.3s linear forwards 1.4s;
    color: #006aff;
}
@keyframes drop {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }
    50% {
        transform: translateY(0px);
        opacity: 1;
    }
    65% {
        transform: translateY(-17px);
        opacity: 1;
    }
    75% {
        transform: translateY(-22px);
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

/* .hero-home-title-e ::after{
    margin: 1rem auto;
    animation: neon 5s ease infinite;
} */
@keyframes neon {
    0%,
    100% {
        text-shadow: 0 0 10px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 2px #fed128, 2px 2px 2px #806914;
        color: #f5efcb;
    }
    50% {
        text-shadow: 0 0 2px #800e0b, 0 0 5px #800e0b, 0 0 5px #800e0b, 0 0 5px #800e0b, 0 0 2px #800e0b, 4px 4px 2px #40340a;
        color: #eda0d3;
    }
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
    .home-hero-section{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        height: 70vh;
    }
    .home-hero-image{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 45vh;
        height: 50%;
    }
    .home-hero-image img{
        /* width: 35vh;
        height: 40vh; */
        width: 100%;
        height: 100%;
    }
    .home-hero-heading-container{
        /* margin-top: 5rem; */
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 35vh;
    }
   

    .home-hero-title-sp{
        /* display: inline-flex; */
        display: block;
        /* font-size: 2rem; */
        letter-spacing: 1rem;
        justify-content: space-evenly;
        color: #ffffff;
    }
    .home-hero-title-letters{
        font-size: 3rem;
        /* display: flex;                                    */
        /* width: 60%; */
    }
    .home-hero-title{
        display: flex;
        color: aliceblue;
        font-size: 3rem;
        letter-spacing: 0.5rem;
        /* width: 70%; */
        justify-content: space-evenly;
    }
    .home-hero-subtitle{
        color: cornflowerblue;
        font-size: 0.8rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        letter-spacing: 0.7rem;
        /* line-height: 6rem; */
    }
    .home-hero-Otherletters{
        color: #ffffff;
        font-size: 0.8rem;
    }

    .home-event-cards{
        background-color: #0E071B;
    
        display: block;
        
    }

    .home-events-title{
        background-color: #0E071B;
        color: azure;
        font-size: 2.5rem;
        letter-spacing: 0.8rem;
        line-height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
         height: 5vh;
    }
}

@media only screen  and (max-device-width: 768px)and (min-device-width: 481px)  {
    .home-hero-section{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        
    }

    .home-hero-image{
        width: 50%;
        height: 50vh;
    }
    .home-hero-image img{
        width: 85%;
        height: 100%;
        /* width: 50rem;
        height: 50rem; */
    }
    .home-hero-heading-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 30vh;
    }
    /* .home-hero-title-letters{
        display: flex;
        margin: 0 4rem;
    } */

    .home-hero-title-sp{
        display: block;
        font-size: 3rem;
        letter-spacing: 1.5rem;
        justify-content: space-evenly;
        align-items: center;
        color: #ffffff;
    }
    .home-hero-title-letters{
        font-size: 3.5rem;
        /* display: flex;                                    */
        /* width: 60%; */
    }
    .home-hero-title{
        display: flex;
        color: aliceblue;
        font-size: 4rem;
        letter-spacing: 1.5rem;
        /* width: 70%; */
        justify-content: center;
    }
    .home-hero-subtitle{
        color: cornflowerblue;
        font-size: 1.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 0.7rem;
        /* line-height: 6rem; */
    }
    .home-hero-Otherletters{
        color: #ffffff;
        font-size: 1.1rem;
    }

    .home-event-cards{
        background-color: #0E071B;
    
        display: block;
        
    }

    .home-events-title{
        background-color: #0E071B;
        color: azure;
        font-size: 3rem;
        letter-spacing: 0.8rem;
        line-height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
        /* padding: 3rem; */
    }
}
/* @media only screen and (min-width: 921px) and (max-width: 1024px) {
    .home-hero-section{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        
    }


    .home-hero-image{
        width: 50%;
        height: 100%;
    }
    .home-hero-image img{
        width: 100%;
        height: 100%;
    }
    .home-hero-heading-container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    

    .home-hero-title-sp{
        display: inline-flex;
        font-size: 7rem;
        letter-spacing: 1.5rem;
        justify-content: space-evenly;
        color: #ffffff;
    }
    .home-hero-title-letters{
        font-size: 7rem;
       
    }
    .home-hero-title{
        display: flex;
        color: aliceblue;
        font-size: 4rem;
        letter-spacing: 1.5rem;
        justify-content: center;
    }
    .home-hero-subtitle{
        color: cornflowerblue;
        font-size: 1.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 0.7rem;
        line-height: 6rem;
    }
    .home-hero-Otherletters{
        color: #ffffff;
        font-size: 1.1rem;
    }

    .home-event-cards{
        background-color: #0E071B;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        
    }

    .home-events-title{
        background-color: #0E071B;
        color: azure;
        font-size: 3rem;
        letter-spacing: 0.8rem;
        line-height: 5rem;
        display: flex;
        justify-content: center;
        padding: 3rem;
    }
} */
