.main-page-wrapper{
    /* background-color: #0E071B; */
    background-color: #0D051B;
}

.home-hero-section{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    /* padding-left: 20px; */
    /* margin: 0 20px; */
    /* flex-direction: column; */
    /* grid-template-columns: repeat(1fr,2); */
}

.home-hero-heading-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.home-hero-image{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-hero-image img{
    width: 85%;
    height: 100%;
   
    /* width: 50rem;
    height: 50rem; */
}

.home-hero-title-sp{
    /* display: inline-flex; */
    /* width: 40%; */

    display: block;
    font-size: 7rem;
    letter-spacing: 1.5rem;
    justify-content: space-evenly;
    color: #ffffff;

}
.home-hero-title-letters{
    font-size: 7.5rem;
    /* font-weight: bold; */
    /* animation: glitch 725ms infinite; */

    /* display: flex;                                    */
    /* width: 60%; */
}

.home-hero-title-Otherletters{
    font-size: 7rem;
    color: #ffffff;

}

.hero-home-title-i{
    color: #0d3dff;
    text-shadow:
      /* 0 0 7px #1a1eff, */
      /* 0 0 10px #2c4ef8, */
      0 0 21px #002fff,
      0 0 42px rgb(37, 33, 245),
      0 0 82px rgb(20, 28, 253),
      0 0 92px rgb(35, 42, 249),
      0 0 102px rgb(49, 35, 252),
      0 0 151px rgb(21, 28, 250);
      /* padding-left: 2rem; */
}

.hero-home-title-e{
    /* color: #0d3dff; */
    text-shadow:
    /* 0 0 7px #1a1eff, */
    /* 0 0 10px #2c4ef8, */
    0 0 21px #002fff,
    0 0 42px rgb(37, 33, 245),
    0 0 82px rgb(20, 28, 253),
    0 0 92px rgb(35, 42, 249),
    0 0 102px rgb(49, 35, 252),
    0 0 151px rgb(21, 28, 250);
    opacity: 0;
    animation: drop 1.3s linear forwards;
   
    color: #006aff;
}
.home-hero-subtitle{
    /* color: cornflowerblue; */
    font-size: 2.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    letter-spacing: 1rem;
    line-height: 6rem;
    opacity: 0;

    animation: drop 1s ease-in forwards 3s;
    color: #006aff;
}

.home-hero-space{
    color: #0E071B;

}
.home-hero-Otherletters{
    color: #ffffff;
    font-size: 2rem;
}
.home-hero-letters{
    color: #4036ff;
    text-shadow:
      0 0 7px #1a1eff,
      0 0 10px #2c4ef8,
      0 0 21px #1d44f4,
      0 0 42px rgb(37, 33, 245),
      0 0 82px rgb(84, 37, 254),
      0 0 92px rgb(35, 42, 249),
      0 0 102px rgb(49, 35, 252),
      0 0 151px rgb(21, 28, 250);
}
.home-events-title{
    /* background-color: #0E071B; */
    background-color: #0D051B;
    color: azure;
    font-size: 6rem;
    letter-spacing: 0.8rem;
    line-height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}
.home-event-cards{
    background-color: #0E051B;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));  */

    /* grid-row-gap:20px #4456; */
}

.home-hero-title-letters span::before{
    opacity: 0.15;
}
.hero-home-title-i {
    opacity: 1;
    animation: flickerI 2.5s linear  reverse ;
  }
 .hero-home-title-i::after {
    content: '';
    width: 150%;
    /* -webkit-box-shadow: -35px 0px 60px 8px rgb(110, 96, 238);
    -moz-box-shadow: -35px 0px 60px 8px rgb(115, 101, 244);
    box-shadow: -35px 0px 60px 8px rgb(107, 93, 237); */
  }
 .hero-home-title-d{
    /* animation: flickerLG 4s linear reverse ; */
    animation: flickerI 2.5s linear  reverse ;

    position: relative;
  }
  .hero-home-title-d::after, 
  .hero-home-title-d::before  {
    content:' ';
    width: 100px;
    height: 100px;
    background: var(--white);
    position: absolute;
    top: -50%;
    left: 100%;
    border-radius: 100%;
    opacity: 0.05;
    filter: blur(10px);
  }
  .hero-home-title-d::after {
    width: 200px;
    height: 200px;
    top: -150%;
    left: -5%;
    opacity: 0.1;
    filter: blur(10px);
  }
  .hero-home-title-num {
    /* animation: flickerH 4s linear reverse ; */
    animation: flickerI 2.5s linear  reverse ;

  }
  
  .home-hero-title-letters span::after{
    opacity: 1;
}

@keyframes flickerI {
    0% {
      opacity: 0.4;
    }
    5% {
      opacity: 0.5;
    }
    10% {
      opacity: 0.6;
    }
    15% {
      opacity: 0.85;
    }
    25% {
      opacity: 0.5;
    }
    30% {
      opacity: 1;
    }
    35% {
      opacity: 0.1;
    }
    40% {
      opacity: 0.25;
    }
    45% {
      opacity: 0.5;
    }
    60% {
      opacity: 1;
    }
    70% {
      opacity: 0.1;
    }
    80% {
      opacity: 0.25;
    }
    90% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes flickerLG {
    0% {
      opacity: 0.19;
    }
    5% {
      opacity: 0.2;
    }
    10% {
      opacity: 0.25;
    }
    15% {
      opacity: 0.35;
    }
    25% {
      opacity: 0.2;
    }
    30% {
      opacity: 0.4;
    }
    35% {
      opacity: 0.1;
    }
    40% {
      opacity: 0.25;
    }
    45% {
      opacity: 0.2;
    }
    60% {
      opacity: 0.4;
    }
    70% {
      opacity: 0.35;
    }
    80% {
      opacity: 0.4;
    }
    90% {
      opacity: 0.2;
    }
    100% {
      opacity: 0.4;
    }
  }
  
  @keyframes flickerH {
    0% {
      opacity: 0.15;
    }
    5% {
      opacity: 0.2;
    }
    10% {
      opacity: 0.12;
    }
    15% {
      opacity: 0.2;
    }
    25% {
      opacity: 0.15;
    }
    30% {
      opacity: 0.4;
    }
    35% {
      opacity: 0.05;
    }
    40% {
      opacity: 0.12;
    }
    45% {
      opacity: 0.15;
    }
    60% {
      opacity: 0.3;
    }
    70% {
      opacity: 0.2;
    }
    80% {
      opacity: 0.3;
    }
    90% {
      opacity: 0.18;
    }
    100% {
      opacity: 0.3;
    }
  }
  
  @keyframes flickerT {
    0% {
      opacity: 0.01;
    }
    5% {
      opacity: 0.05;
    }
    10% {
      opacity: 0.03;
    }
    15% {
      opacity: 0.1;
    }
    25% {
      opacity: 0.07;
    }
    30% {
      opacity: 0.1;
    }
    35% {
      opacity: 0.05;
    }
    40% {
      opacity: 0.06;
    }
    45% {
      opacity: 0.1;
    }
    60% {
      opacity: 0.;
    }
    70% {
      opacity: 0.1;
    }
    80% {
      opacity: 0.;
    }
    90% {
      opacity: 0.0;
    }
    100% {
      opacity: 0.1;
    }
  }
@keyframes drop {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }
    /* 50% {
        transform: translateX(-100px);
        opacity: 1;
    }
    65% {
        transform: translateX(-50px);
        opacity: 1;
    }
    75% {
        transform: translateX(-25px);
        opacity: 1;
    } */
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.home-timeline{
  width: 100%;
  height:100%;
  padding: 3rem ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.home-timeline span{
color: aliceblue;
  font-size: 6rem;
  letter-spacing: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  padding: 2rem;
}

.home-footer{
  height: 30%;
  padding: 5rem;
}
@media only screen and (max-width: 480px) and (min-width: 320px) {
    .home-hero-section{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        height: 93vh;
        /* height: 100%; */
    }
    .home-hero-image{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
        width: 80%;
        /* height: 45vh; */
        height: 60%;
    }
    .home-hero-image img{
        /* width: 35vh;
        height: 40vh; */
        width: 100%;
        height: 100%;
    }
    .home-hero-heading-container{
        /* margin-top: 5rem; */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 40%;
        /* height: 35vh; */
    }
   

    .home-hero-title-sp{
        /* display: inline-flex; */
        display: block;
        /* font-size: 2rem; */
        letter-spacing: 1rem;
        justify-content: space-evenly;
        color: #ffffff;
    }
    .home-hero-title-letters{
        font-size: 4rem;
        /* display: flex;                                    */
        /* width: 60%; */
    }
    .home-hero-title{
        display: flex;
        color: aliceblue;
        font-size: 3rem;
        letter-spacing: 0.5rem;
        /* width: 70%; */
        justify-content: space-evenly;
    }
    .home-hero-subtitle{
        /* color: cornflowerblue; */
        color: #006aff;

        font-size: 1.2rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        letter-spacing: 0.7rem;
        /* line-height: 6rem; */
    }
    .home-hero-Otherletters{
        color: #ffffff;
        font-size: 1.2rem;
    }

    .home-event-cards{
        background-color: #0E071B;
    
        display: block;
        
    }

    .home-events-title{
        background-color: #0E071B;
        color: azure;
        font-size: 2.5rem;
        letter-spacing: 0.8rem;
        line-height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
         height: 5vh;
    }
}

@media only screen  and (max-device-width: 768px)and (min-device-width: 481px)  {
    .home-hero-section{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        height: 90vh;
    }

    .home-hero-image{
        width: 80%;
        /* height: 50vh; */
        height: 70%;
    }
    .home-hero-image img{
        width: 85%;
        height: 100%;
        /* width: 50rem;
        height: 50rem; */
    }
    .home-hero-heading-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        /* height: 30vh; */
        height: 30%;
    }
    /* .home-hero-title-letters{
        display: flex;
        margin: 0 4rem;
    } */

    .home-hero-title-sp{
        display: block;
        font-size: 3rem;
        letter-spacing: 1.5rem;
        justify-content: space-evenly;
        align-items: center;
        color: #ffffff;
    }
    .home-hero-title-letters{
        font-size: 3.5rem;
        --stack-height: calc(100% / var(--stacks) - 1px);
        --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
        --clip-top: calc(var(--stack-height) * var(--index));
        --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
        clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
        animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
      }
      
      .stack span:nth-child(odd) { --glitch-translate: 8px; }
      .stack span:nth-child(even) { --glitch-translate: -8px; }
      
        /* display: flex;                                    */
        /* width: 60%; */
    
    .home-hero-title{
        display: flex;
        color: aliceblue;
        font-size: 4rem;
        letter-spacing: 1.5rem;
        /* width: 70%; */
        justify-content: center;
    }
    .home-hero-subtitle{
        color: cornflowerblue;
        font-size: 1.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 0.7rem;
        /* line-height: 6rem; */
    }
    .home-hero-Otherletters{
        color: #ffffff;
        font-size: 1.1rem;
    }

    .home-event-cards{
        background-color: #0E071B;
    
        display: block;
        
    }

    .home-events-title{
        background-color: #0E071B;
        color: azure;
        font-size: 3rem;
        letter-spacing: 0.8rem;
        line-height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
        /* padding: 3rem; */
    }
}
