.main-page-wrapper{
    /* background-color: #0E071B; */
    background-color: #0D051B;
}

.home-hero-section{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    /* padding-left: 20px; */
    /* margin: 0 20px; */
    /* flex-direction: column; */
    /* grid-template-columns: repeat(1fr,2); */
}

.home-hero-heading-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.home-hero-image{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-hero-image img{
    width: 85%;
    height: 100%;
   
    /* width: 50rem;
    height: 50rem; */
}

.home-hero-title-sp{
    /* display: inline-flex; */
    /* width: 40%; */

    display: block;
    font-size: 7rem;
    letter-spacing: 1.5rem;
    justify-content: space-evenly;
    color: #ffffff;

}
.home-hero-title-letters{
    font-size: 7.5rem;
    /* font-weight: bold; */
    /* animation: glitch 725ms infinite; */

    /* display: flex;                                    */
    /* width: 60%; */
}

.home-hero-title-Otherletters{
    font-size: 7rem;
    color: #ffffff;

}
.home-hero-title{
    display: flex;
    color: aliceblue;
    font-size: 9rem;
    letter-spacing: 1.5rem;
    /* width: 70%; */
    justify-content: space-between;
    
}
.hero-home-title-i{
    color: #0d3dff;
    text-shadow:
      /* 0 0 7px #1a1eff, */
      /* 0 0 10px #2c4ef8, */
      0 0 21px #002fff,
      0 0 42px rgb(37, 33, 245),
      0 0 82px rgb(20, 28, 253),
      0 0 92px rgb(35, 42, 249),
      0 0 102px rgb(49, 35, 252),
      0 0 151px rgb(21, 28, 250);
      /* padding-left: 2rem; */
}

.hero-home-title-e{
    color: #0d3dff;
    text-shadow:
    /* 0 0 7px #1a1eff, */
    /* 0 0 10px #2c4ef8, */
    0 0 21px #002fff,
    0 0 42px rgb(37, 33, 245),
    0 0 82px rgb(20, 28, 253),
    0 0 92px rgb(35, 42, 249),
    0 0 102px rgb(49, 35, 252),
    0 0 151px rgb(21, 28, 250);
}
.home-hero-subtitle{
    color: cornflowerblue;
    font-size: 2.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    letter-spacing: 1rem;
    line-height: 6rem;
}

.home-hero-space{
    color: #0E071B;

}
.home-hero-Otherletters{
    color: #ffffff;
    font-size: 2rem;
}
.home-hero-letters{
    color: #4036ff;
    text-shadow:
      0 0 7px #1a1eff,
      0 0 10px #2c4ef8,
      0 0 21px #1d44f4,
      0 0 42px rgb(37, 33, 245),
      0 0 82px rgb(84, 37, 254),
      0 0 92px rgb(35, 42, 249),
      0 0 102px rgb(49, 35, 252),
      0 0 151px rgb(21, 28, 250);
}
.home-events-title{
    background-color: #0E071B;
    color: azure;
    font-size: 6rem;
    letter-spacing: 0.8rem;
    line-height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
}
.home-event-cards{
    background-color: #0E071B;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));  */

    /* grid-row-gap:20px #4456; */
}
/* .header-icon-ieee img{
    width: 200%;
    height: 100%;
}

.header-icon-ieee {
    width: 100%;
    height: 80%;
    margin-top: 1rem;
} */

.hero-home-title-i {
    animation: neon 5s;
    /* opacity: 0;
    animation: name duration timing-function delay iteration-count direction fill-mode;
    animation: glitch 3s  ease-in-out;
    clip-path: polygon(100 100, 100% 0, 100% 35%, 0 35%);
    transform: translate(-0.04em, -0.03em);
    opacity: 0.75; */
    /* animation: drop 1.3s linear forwards; */
    /* animation: glowing 1s ; */
    /* text-shadow: 0 0 10px rgba(255, 255, 255, 0.2);     animation: glowing 3s; */
  /* transition: text-shadow 0.5s, opacity 0.5s; */
  /* transition: text-shadow 0.5s, opacity 0.5s; */
    color: #006aff;
    animation: glowing 3s  ;
    /* position: relative; */
    transition: opacity 0.3s ease-in-out;
}
.hero-home-title-e {
    opacity: 0;
    animation: drop 1.3s linear forwards;
    /* margin: 1rem auto; */

    /* animation: neon 5s ease  5s infinite; */
    color: #006aff;
}

.home-hero-subtitle{
    opacity: 0;

    animation: drop 1.3s linear forwards 1.4s;
    color: #006aff;
}



@keyframes shake {
    0% {
      transform: translate(0);
    }
    10% {
      transform: translate(-2px, -2px);
    }
    20% {
      transform: translate(2px, 2px);
    }
    30% {
      transform: translate(-2px, -2px);
    }
    40% {
      transform: translate(2px, 2px);
    }
    50% {
      transform: translate(-1px, -1px);
    }
    60% {
      transform: translate(1px, 1px);
    }
    70% {
      transform: translate(-1px, -1px);
    }
    80% {
      transform: translate(1px, 1px);
    }
    90% {
      transform: translate(-1px, -1px);
    }
    100% {
      transform: translate(0);
    }
  }
  
@keyframes glowing {
    0% {
      text-shadow: 0 0 100px rgb(251, 255, 255); /* Faint transparent glow */
      opacity: 0.5; /* Initial opacity */
    }
    50% {
      text-shadow: 0 0 200px rgb(255, 255, 255), 0 0 30px #ffffff; /* Stronger glow */
      opacity: 1; /* Full opacity */
    }
    100% {
      text-shadow: 0 0 100px rgb(250, 253, 253); /* Faint transparent glow */
      opacity: 0.5; /* Back to initial opacity */
    }
  }
@keyframes glitch {
    0% {
      text-shadow: 0.05em 0 0 #5474ea, -0.03em -0.04em 0 rgba(193, 148, 231, 0.5),
        0.025em 0.04em 0 #ffffff;
    }
    15% {
      text-shadow: 0.05em 0 0 #5474ea, -0.03em -0.04em 0 rgba(193, 148, 231, 0.5),
        0.025em 0.04em 0 #ffffff;
    }
    16% {
      text-shadow: -0.05em -0.025em 0 #5474ea, 0.025em 0.035em 0 rgba(193, 148, 231, 0.5),
        -0.05em -0.05em 0 #ffffff 0.025em 0.04em 0 #ffffff;
        
    }
    49% {
      text-shadow: -0.05em -0.025em 0 #5474ea, 0.025em 0.035em 0 rgba(193, 148, 231, 0.5),
        -0.05em -0.05em 0 #ffffff;
    }
    50% {
      text-shadow: 0.05em 0.035em 0 #5474ea, 0.03em 0 0 rgba(193, 148, 231, 0.5),
        0 -0.04em 0 #ffffff;
    }
    99% {
      text-shadow: 0.05em 0.035em 0 #5474ea, 0.03em 0 0 rgba(193, 148, 231, 0.5),
        0 -0.04em 0 #ffffff;
    }
    100% {
      text-shadow: -0.05em 0 0 #5474ea, -0.025em -0.04em 0 rgba(193, 148, 231, 0.5),
        -0.04em -0.025em 0 #ffffff;
    }
  }
@keyframes drop {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }
    50% {
        transform: translateX(0px);
        opacity: 1;
    }
    65% {
        transform: translateX(-17px);
        opacity: 1;
    }
    75% {
        transform: translateX(-22px);
        opacity: 1;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

/* .hero-home-title-e ::after{
    margin: 1rem auto;
    animation: neon 5s ease infinite;
} */
@keyframes neon {
    0%,
    100% {
        text-shadow: 0 0 10px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 20px #ef00e3a8, 0 0 2px #fed128, 2px 2px 2px #806914;
        color: #f5efcb;
    }
    50% {
        text-shadow: 0 0 2px #800e0b, 0 0 5px #800e0b, 0 0 5px #800e0b, 0 0 5px #800e0b, 0 0 2px #800e0b, 4px 4px 2px #40340a;
        color: #eda0d3;
    }
}

@media only screen and (max-width: 480px) and (min-width: 320px) {
    .home-hero-section{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        height: 93vh;
        /* height: 100%; */
    }
    .home-hero-image{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
        width: 80%;
        /* height: 45vh; */
        height: 60%;
    }
    .home-hero-image img{
        /* width: 35vh;
        height: 40vh; */
        width: 100%;
        height: 100%;
    }
    .home-hero-heading-container{
        /* margin-top: 5rem; */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: 40%;
        /* height: 35vh; */
    }
   

    .home-hero-title-sp{
        /* display: inline-flex; */
        display: block;
        /* font-size: 2rem; */
        letter-spacing: 1rem;
        justify-content: space-evenly;
        color: #ffffff;
    }
    .home-hero-title-letters{
        font-size: 3rem;
        /* display: flex;                                    */
        /* width: 60%; */
    }
    .home-hero-title{
        display: flex;
        color: aliceblue;
        font-size: 3rem;
        letter-spacing: 0.5rem;
        /* width: 70%; */
        justify-content: space-evenly;
    }
    .home-hero-subtitle{
        color: cornflowerblue;
        font-size: 0.8rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        letter-spacing: 0.7rem;
        /* line-height: 6rem; */
    }
    .home-hero-Otherletters{
        color: #ffffff;
        font-size: 0.8rem;
    }

    .home-event-cards{
        background-color: #0E071B;
    
        display: block;
        
    }

    .home-events-title{
        background-color: #0E071B;
        color: azure;
        font-size: 2.5rem;
        letter-spacing: 0.8rem;
        line-height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
         height: 5vh;
    }
}

@media only screen  and (max-device-width: 768px)and (min-device-width: 481px)  {
    .home-hero-section{
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        height: 90vh;
    }

    .home-hero-image{
        width: 80%;
        /* height: 50vh; */
        height: 70%;
    }
    .home-hero-image img{
        width: 85%;
        height: 100%;
        /* width: 50rem;
        height: 50rem; */
    }
    .home-hero-heading-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        /* height: 30vh; */
        height: 30%;
    }
    /* .home-hero-title-letters{
        display: flex;
        margin: 0 4rem;
    } */

    .home-hero-title-sp{
        display: block;
        font-size: 3rem;
        letter-spacing: 1.5rem;
        justify-content: space-evenly;
        align-items: center;
        color: #ffffff;
    }
    .home-hero-title-letters{
        font-size: 3.5rem;
        --stack-height: calc(100% / var(--stacks) - 1px);
        --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
        --clip-top: calc(var(--stack-height) * var(--index));
        --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
        clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
        animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 2s alternate-reverse;
      }
      
      .stack span:nth-child(odd) { --glitch-translate: 8px; }
      .stack span:nth-child(even) { --glitch-translate: -8px; }
      
        /* display: flex;                                    */
        /* width: 60%; */
    
    .home-hero-title{
        display: flex;
        color: aliceblue;
        font-size: 4rem;
        letter-spacing: 1.5rem;
        /* width: 70%; */
        justify-content: center;
    }
    .home-hero-subtitle{
        color: cornflowerblue;
        font-size: 1.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 0.7rem;
        /* line-height: 6rem; */
    }
    .home-hero-Otherletters{
        color: #ffffff;
        font-size: 1.1rem;
    }

    .home-event-cards{
        background-color: #0E071B;
    
        display: block;
        
    }

    .home-events-title{
        background-color: #0E071B;
        color: azure;
        font-size: 3rem;
        letter-spacing: 0.8rem;
        line-height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
        /* padding: 3rem; */
    }
}
