.firstpage{
  color: aliceblue;

}
.aboutus{
  height: 25vh;
  
}
.aboutus h1{
  margin-left: 43%;
  margin-top: 40px;
  font-size: 45px;
  color: blueviolet;
}
.pageone {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #0D051B;
  margin-top: -100px;
}

.twosections{
  display: flex;
  flex-direction: row;
  margin-top: 30px;

}
.twosections h1{
  margin-top: 30px;
  margin-left: 30px;
  color: rgba(159, 75, 212, 0.618);
  font-size: 40px;
}
.twosections p{
  color:rgb(255, 255, 255);
  text-align: justify;
  margin-top: 30px;
  margin-left:30px;
  font-size: 18px;
}
.textcontents{
  width: 350%;
}
.cards{
  width: 260%;
  margin-left: 150px;
}
#img12{
  width:260px;
  height:260px;
  margin-right: -30px;
  margin-bottom: 40px;
  
}
#img22{
  width:260px;
  height:260px;
  
  margin-bottom: -20px;
}
#img32{
  width:260px;
  height:260px;
  margin-left: 110px;
  margin-top: -85px ;
}

.cards {
  position: relative;
  margin-top: 20px;
}

.cards img {
  transition: transform 0.4s ease-out;
}

.cards img:hover {
  transform: scale(1.2);
  z-index: 1;
}
@media (max-width: 768px) {
  .aboutus h1{
    font-size: 35px;
    
    margin-left: 120px;
  }
  .twosections {
    flex-direction: column;
    margin-top: 60px;
  }
  
  .twosections h1 {
    margin-left: 20px;
    margin-top: -30px;
    font-size: 30px;
  }
  
  .twosections p {
    margin-left: 20px;
    font-size: 16px;
  }
  
  .textcontents,
  .cards{
    width: 100%;
    margin-left: 40px;
  }
  
  #img12,
  #img22,
  #img32 {
    width: 150px;
    height: 150px;
    
  }
  #img12{
    margin-left: 50px;
  }
  #img22{
    margin-bottom: 10px;
  }
  #img32{
     margin-left: 80px;
     margin-bottom: 20px;
  }
}


@media (max-width: 480px) {
  .twosections h1 {
    font-size: 24px;
  }
  
  .twosections p {
    font-size: 14px;
    margin-right: 30px;
  }
  
  #img12,
  #img22,
  #img32 {
    width: 150px;
    height: 150px;
  }
}
@media (min-width: 481px) and (max-width: 769px){
  .aboutus h1{
    margin-left: 300px;
  }
  .twosections h1 {
    font-size: 24px;
  }
  
  .twosections p {
    font-size: 14px;
    margin-right: 30px;
  }
  
  #img12,
  #img22,
  #img32 {
    width: 150px;
    height: 150px;
  }
#img12{
  margin-left: 200px;
  margin-bottom: 200px
}
#img22{
  margin-right:90px;
  margin-left: -20px;
  margin-bottom: 150px;
}
#img32{
  margin-top: -300px;
  margin-bottom: 90px;
  margin-left: 150px;
}
}
@media (min-width: 767px) and (max-width: 1190px){
  .aboutus h1{
    margin-left: 300px;
  }
  .twosections h1 {
    font-size: 24px;
  }
  
  .twosections p {
    font-size: 14px;
    margin-right: 30px;
    text-align: justify;
    margin-right: -100px;
  }
  
  #img12,
  #img22,
  #img32 {
    width: 150px;
    height: 150px;
    margin-right: 30px;
  }
#img12{
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: -60px
}
#img22{
  margin-right:90px;
  margin-left: -24px;
  margin-bottom: 150px;
}
#img32{
  margin-top: -300px;
  margin-bottom: 100px;
  margin-left: 100px;
}
}
@media (min-width: 849px) and (max-width: 1098px){
  .cards{
    margin-left: 200px;
  }
  #img12,
  #img22,
  #img32 {
    width: 190px;
    height: 190px;
    margin-right: 20px;
  }
#img12{
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: -60px
}
#img22{
  margin-right:90px;
  margin-left: -24px;
  margin-bottom: 150px;
  margin-top: -30px;
}
#img32{
  margin-top: -300px;
  margin-bottom: 100px;
  margin-left: 150px;
  margin-right: 0px;
}
}
@media (min-width: 1097px) and (max-width: 1300px){
  .twosections h1 {
    font-size: 24px;
  }
  
  .twosections p {
    font-size: 14px;
  }
  .cards{
    margin-right: -50px;
  }
  
  #img12,
  #img22,
  #img32 {
    width: 150px;
    height: 150px;
  }
}
/*@media (min-width: 1189px) {
  #img12,
  #img22,
  #img32 {
    width: 180px;
    height: 180px;}
    #img12{
        margin-top: 100px;
    }
    #img32{
      margin-left: 50px;
    }
}*/
