body{background-color: #0D051B;
overflow-x: hidden;}
.scrolling-page {
  
    height: 100vh;
    
  }
  
  .full-screen-section {
    height: 100vh;
    width: 100vw;
   

  }
  
  .reveal-section {
    height: 80vh;
    width: 100vw;
    background-color: #00162b;
  }

  