.card-main{
    /* background-color: #080808 ; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-card-img{
    margin: 6.25rem;
    width:35rem;
    height: 35rem;
    border-radius: 2.5rem;
    overflow: hidden;
    border: 0.25rem solid #ffff;
    position: relative;
    filter: brightness(1);
    /* box-shadow: rgb(256, 256, 256,0.2) 0px 1px 1px 0px inset, rgb(256, 256, 256,0.2) 0px 50px 100px -20px, rgba(256, 256, 256, 0.1) 0px 30px 20px -30px; */
    -moz-box-shadow: 13px 13px 0px 0px #764a89;
    -webkit-box-shadow: 13px 13px 0px 0px #864397;
     box-shadow: 13px 13px 0px 0px  #000000;
     /* box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 30px -10px, rgba(128, 128, 128, 0.4) 0px 10px 20px -15px; */
    /* box-shadow: 0px 10px 15px -3px rgba(256,256,256,0.1); */
}
.cards-card-img img{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    /* object-fit: cover; */
}

.cards-card-body{
    width: 100%;
    height: 100%;
    background-color:rgb(17, 26, 26,0.5) ;
    top: 0;
    right: -100%;
    position: absolute;
    backdrop-filter: blur(0.625rem);
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.cards-card-img:hover .cards-card-body{
    right: 0;
}
.cards-card-heading{
    color: #ffff;
    padding: 2.5rem;
    text-transform: capitalize;
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
    display: block;
    justify-content: center;
    align-items: center;
}

.cards-card-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.25rem;
    /* background: rgba(255, 255, 255, 0.05); */
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
         /* position: fixed; */
}

.cards-card-btn button{
     /* background-color: #a42bd8; */
     background-color: #0E071B;
    padding: 20px 30px;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
  
	color: rgb(239, 235, 237); 
}

/* .cards-card-btn-body button:hover, .cards-card-btn-body button:focus {
    color: #fff;
    outline: 0;
    background-color: #4506e3;
  }
.cards-card-btn-body button {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  } */

 /* .cards-card-btn-body button{
   
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    transition: all .35s;
  }
  .cards-card-btn-body button{
    position: relative;
    z-index: 2;
  }
  
 .cards-card-btn-body button:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 0.5rem;

    background: #ffffff;

    transition: all .35s;
  }
  
   button:hover{
    color: #000000;
  }
  
  button:hover:after{
    width: 100%;
  }

  .btn,
p {
   display: inline-block;
   vertical-align: middle;
}

.btn {
   position: relative;
   width: 240px;
   height: 60px;
   margin: 10px;
}

.btn p {
   width: 100%;
   height: 100%;
}

.btn a {
   display: block;
   width: 100%;
   height: 60px;
}

.btn span {
   display: block;
   width: 100%;
   height: 60px;
   padding-top: 23px;
}

p#or {
   margin: 0 14px;
} */




/*  ------ HOVER EFFECT ----- */

/* the top and bottom innter lines */
.cards-card-btn .cards-card-btn-body ::before {
   content: "";
   position: absolute;
   border-top: 1px solid gray;
   border-bottom: 1px solid gray;
   top: -1px;
   left: -7px;
   right: -7px;
   bottom: -1px;
}

.cards-card-btn-body  ::after {
   content: "";
   position: absolute;
   border-left: 1px solid gray;
   border-right: 1px solid gray;
   top: -9px;
   bottom: -9px;
   left:-1px;
   right: -1px;
}

.cards-card-btn:hover ::before,
.cards-card-btn:hover ::after {
   border: none;
}


/* the hover state for the inner button */
.cards-card-btn button  {
   background: inherit;
   color: inherit;
   transition-property: background, color;
   transition-duration: 0.1s;
   transition-timing-function: ease-out;
}

.cards-card-btn-body:hover button {
   background: white;
   color: black;
}

/* the inset border on hover */
.cards-card-btn-body button::before {
   content: "";
   position: absolute;
   border: 5px solid black;
   left: 1px;
   top: 1px;
   right: 1px;
   bottom: 1px;
   transition-property: opacity, background, color;
   transition-duration: 0.2s;
   transition-timing-function: ease-out;
   opacity: 0;
}

.cards-card-btn-body:hover button::before {
   opacity: 1;
}

/* the shrinking outer edges */
.cards-card-btn-body::before {
   content: "";
   height: 1px;
   position: absolute;
   background: gray;
   bottom: 68px;
   left: 0;
   right: 0;
   transition-property: left, right;
   transition-duration: 0.3s;
   transition-timing-function: ease-out;
}

.cards-card-btn-body::after {
   content: "";
   height: 1px;
   position: absolute;
   background: gray;
   top: 68px;
   left: 0;
   right: 0;
   transition-property: left, right;
   transition-duration: 0.3s;
   transition-timing-function: ease-out;
}

.cards-card-btn-body:hover::before,
.bcards-card-btn-bodytn:hover::after {
   left: 50%;
   right: 50%;
}

.bcards-card-btn-body::before {
   content: "";
   width: 1px;
   position: absolute;
   background: gray;
   top: 0;
   bottom: 0;
   left: -7px;
   right: 0;
   transition-property: top, bottom;
   transition-duration: 0.3s;
   transition-timing-function: ease-out;
}

.cards-card-btn-body ::after {
   content: "";
   width: 1px;
   position: absolute;
   background: gray;
   top: 0;
   bottom: 0;
   right: -7px;
   transition-property: top, bottom;
   transition-duration: 0.3s;
   transition-timing-function: ease-out;
   
}

.btcards-card-btn-bodyn:hover ::before,
.cards-card-btn-body:hover ::after {
   top: 50%;
   bottom: 50%;
}