.card-main{
    /* background-color: #080808 ; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-card-img{
    margin: 6.25rem;
    width:35rem;
    height: 35rem;
    border-radius: 2.5rem;
    overflow: hidden;
    border: 0.25rem solid #ffff;
    position: relative;
    filter: brightness(1);
    /* box-shadow: rgb(256, 256, 256,0.2) 0px 1px 1px 0px inset, rgb(256, 256, 256,0.2) 0px 50px 100px -20px, rgba(256, 256, 256, 0.1) 0px 30px 20px -30px; */
    -moz-box-shadow: 13px 13px 0px 0px #764a89;
    -webkit-box-shadow: 13px 13px 0px 0px #864397;
     box-shadow: 13px 13px 0px 0px  #000000;
     /* box-shadow: rgba(0, 0, 0, 0.2) 0px 15px 30px -10px, rgba(128, 128, 128, 0.4) 0px 10px 20px -15px; */
    /* box-shadow: 0px 10px 15px -3px rgba(256,256,256,0.1); */
}
.cards-card-img img{
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    /* object-fit: cover; */
}

.cards-card-body{
    width: 100%;
    height: 100%;
    background-color:rgb(17, 26, 26,0.5) ;
    top: 0;
    right: -100%;
    position: absolute;
    backdrop-filter: blur(0.625rem);
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.cards-card-img:hover .cards-card-body{
    right: 0;
}
.cards-card-heading{
    color: #ffff;
    padding: 2.5rem;
    text-transform: capitalize;
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
    display: block;
    justify-content: center;
    align-items: center;
}

.cards-card-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.25rem;
    /* background: rgba(255, 255, 255, 0.05); */
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;

   
}




.cards-card-btn button{
     /* background-color: #a42bd8; */
     background-color: #0E071B;
    padding: 20px 30px;
    border-radius: 15px;
    cursor: pointer;
    text-decoration: none;
    /* box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1); */
    /* background: linear-gradient(to bottom, #5d326c, #350048); */
	color: rgb(239, 235, 237);
    /* color: #0c0c0c;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    */
   
  
}

.cards-card-btn-body button:hover, .cards-card-btn-body button:focus {
    color: #fff;
    outline: 0;
    background-color: #4506e3;
  }
.cards-card-btn-body button {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }
  /* .cards-card-btn-body:hover {
    box-shadow: 0 0 40px 40px #4506e3 inset;
  } */