nav{
    width: 100%;
    display: flex;
    height: 10vh;
    padding: 2rem  0 0 0;
    position: relative;
}

.header-icons-container{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    /* padding-top: 1rem; */
}

.header-hamburger{
    width: 40%;

}
.header-icon{
    width: 8%;
    height: 70%;
}

.header-icon img{
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.header-hamburger{
    color: rgb(216, 222, 226);
    font-size: 4rem;
    display: flex;
    justify-content:end;
    align-items: center;
}

.header-hamburger {
    padding-right: 2rem;
    cursor: pointer;
}
/* .header-icons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    max-height: 100px;
    padding-top: 30px;
}


.header-icon{
    width: 80px;
    height: 60px;
}
.header-icon img{
    width: 100%;
    height: 100%;
}

.header-hamburger{
    color: rgb(216, 222, 226);
    font-size: 40px;
    justify-content: center;
    align-items: center;
    position: relative;
    display: grid !important;

}

.header-links{
    text-decoration: none;
    color: rgb(241, 245, 249);
} */
.header-links {
    text-decoration: none;
    color: rgb(249, 249, 250);
} 

/* .header-links:hover {
    text-decoration: none;
    color: rgb(7, 7, 7);
    box-sizing: border-box;
    border: 0.2rem solid rgb(241, 245, 249);
    padding: 1rem 2rem;
    background-color: azure;
}  */
/* .header-links:hover .header-list li{
    color: rgb(14,7,25);

} */

/* .header-links {
  for num in (1..5)
     .header-links-{num}
       transform-origin: top center
       animation: slideDown 300ms (num * 60ms) ease-in-out forwards
} */

.header-list  {

    display: flex; 
     position: absolute;
    flex-direction: column; 
    animation: appear 0.35s linear;
    /* -webkit-animation: bar 0.9s ease; */
    width: 20%;
    height: 85vh;
    /* justify-content: center; */
    align-items: flex-start;
    transition:  all 3.5s ease-in-out;
    /* animation: forwards ; */
    z-index: 1;
    padding-left: 0px;
    /* top:100px; */
    /* width:250px; */
    
    /* top: 10vh; */
    /* top:15%; */
    right:0%;
    font-size: 20px;
    background-color: rgb(14,7,25) !important;
    
  }

  /* @keyframes bar
  {
    0% {
      top:10%;
    }
    100% {
      top: 15%;;
    }
  } */

 

  .header-link ul{
    margin:0;
  }
  .header-list li{
    display: block;
    /* height: 30%; */
    /* margin: auto; */
    margin-top: 0%;
    width: 100%;
    /* width: 100px; */
    flex-flow: column nowrap;
    padding: 2.5rem;
    text-align: center;
    cursor: pointer;
    /* border: 0.1px solid black; */
    box-sizing: border-box;
    transition: background-color ease-in-out 350ms;

  
    /* margin-left: auto;
    padding-right:80px; */
  }
.header-list li:hover{
    background-color: #fff;
    /* color: rgb(14,7,25); */
}
.header-list li:hover a{
    color: rgb(14,7,25);

}
  .header-list-close {
    display: none;
    /* top: -100%; */
    /* -webkit-animation: bar-close 0.9s ease-in-out; */

    
    /* right: -100%; */
    /* transition: all 0.3s ease-in-out; */
    /* overflow: hidden; */

}
/* @keyframes bar-close
{
  100% {
    top: 0%;
  }
  0% {
    top: 100%;;
  }
} */

@keyframes appear {
    0% {
    opacity: 0;
    translate: -10px 0;
    }
    
    100% {
    opacity: 1;
    }

    
    
}

@media  only screen and (max-width: 480px) and (min-width: 320px){
    nav{
        width: 100%;
        display: flex;
        height: 7vh;
        padding: 0 !important;
        position: relative;
    }
    

    .header-icons-container{
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 !important;
        /* padding-top: 1.5rem; */
    }
    .header-icon{
        width: 10%;
        height: 50%;
        padding: 0 0.5rem;
        /* background-color: aqua; */
    }
    
    .header-icon img{
        width: 100%;
        height: 100%;
    }
    .header-hamburger{
        color: rgb(216, 222, 226);
        font-size: 1.8rem;
        display: flex;
        justify-content:end;
        align-items: center;
        width: 20%;
    }
    .header-list{
        width: 35%;
    }
}

@media only screen  and (max-device-width: 768px)and (min-device-width: 481px)  {
    nav{
        width: 100%;
        display: flex;
        height: 10vh;
        padding: 2rem 0;
        position: relative;
    }
    .header-icon{
        width: 10%;
        height: 50%;
    }
    
    .header-icon img{
        width: 100%;
        height: 100%;
    }

    .header-icons-container{
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /* padding-top: 2rem; */
    }

    .header-hamburger{
        color: rgb(216, 222, 226);
        font-size: 2rem;
        display: flex;
        justify-content:end;
        align-items: center;
    }
}
/* @media only screen and  (min-device-width: 993px) and  (max-width: 1024px) {
    nav{
        width: 100%;
        display: flex;
        height: 10vh;
        padding: 2rem 0;
        position: relative;
    }
    .header-icon{
        width: 15%;
        height: 60%;
    }
    
    .header-icon img{
        width: 100%;
        height: 100%;
    }

    .header-icons-container{
        width: 40%;
        display: flex;
        justify-content: space-evenly;
        padding-top: 2rem;
    }
} */