nav{
    width: 100%;
    display: flex;
    height: 10vh;
    padding: 2rem 0;
    position: relative;
}

.header-icons-container{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 1rem;
}

.header-hamburger{
    width: 60%;

}
.header-icon{
    width: 10%;
    height: 70%;
}

.header-icon img{
    width: 100%;
    height: 100%;
}

.header-hamburger{
    color: rgb(216, 222, 226);
    font-size: 3.5rem;
    display: flex;
    justify-content:end;
    align-items: center;
}

.header-hamburger i{
    margin-right: 2rem;

}
/* .header-icons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    max-height: 100px;
    padding-top: 30px;
}


.header-icon{
    width: 80px;
    height: 60px;
}
.header-icon img{
    width: 100%;
    height: 100%;
}

.header-hamburger{
    color: rgb(216, 222, 226);
    font-size: 40px;
    justify-content: center;
    align-items: center;
    position: relative;
    display: grid !important;

}

.header-links{
    text-decoration: none;
    color: rgb(241, 245, 249);
} */
.header-links{
    text-decoration: none;
    color: rgb(241, 245, 249);
} 

.header-list  {
    display: flex; 
     position: absolute;
    flex-direction: column; 
    transition: all 0.2s ease-in-out;
    padding-left: 0px;
    /* top:100px; */
    width:250px;
    right:0px;
    font-size: 20px;
    background-color: rgba(10, 10, 11) !important;
    
  }
  .header-list ul{
    margin:0;
  }
  .header-list li{
    display: block;
    margin: auto;
    width: 100px;
    flex-flow: column nowrap;
    padding: 20px;
    text-align: center;
    
    /* border: 0.1px solid black; */
    box-sizing: border-box;
    
    /* margin-left: auto;
    padding-right:80px; */
  }
  .header-list-close {
    display: none;
    right: -100%;
    transition: all 0.3s ease-in-out;
    /* overflow: hidden; */

}

@media  only screen and (max-width: 600px){
    nav{
        width: 100%;
        display: flex;
        height: 7vh;
        padding: 2rem 0;
        position: relative;
    }
    .header-icon{
        width: 20%;
        height: 50%;
        /* background-color: aqua; */
    }
    
    .header-icon img{
        width: 100%;
        height: 100%;
    }

    .header-icons-container{
        width: 50%;
        display: flex;
        justify-content: space-evenly;
        padding-top: 1.5rem;
    }
    .header-hamburger{
        color: rgb(216, 222, 226);
        font-size: 2.5rem;
        display: flex;
        justify-content:end;
        align-items: center;
    }
}

@media only screen and (min-device-width: 601px) and (max-device-width: 992px) and (orientation:portrait) {
    nav{
        width: 100%;
        display: flex;
        height: 10vh;
        padding: 2rem 0;
        position: relative;
    }
    .header-icon{
        width: 15%;
        height: 60%;
    }
    
    .header-icon img{
        width: 100%;
        height: 100%;
    }

    .header-icons-container{
        width: 40%;
        display: flex;
        justify-content: space-evenly;
        padding-top: 2rem;
    }
}
@media only screen and  (min-device-width: 993px) and  (max-width: 1024px) {
    nav{
        width: 100%;
        display: flex;
        height: 10vh;
        padding: 2rem 0;
        position: relative;
    }
    .header-icon{
        width: 15%;
        height: 60%;
    }
    
    .header-icon img{
        width: 100%;
        height: 100%;
    }

    .header-icons-container{
        width: 40%;
        display: flex;
        justify-content: space-evenly;
        padding-top: 2rem;
    }
}